* {
  box-sizing: border-box;
}

::-ms-reveal {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li,
body,
input,
button {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #1f204180;
}

.activelist {
  transition: 0.2s;
}
.activelist:hover {
  color: #bc9cff;
}
.activelist:hover svg path {
  fill: #bc9cff;
  fill-opacity: 1;
}

ul,
li {
  list-style-type: none;
}

body {
  font-family: "Montserrat", serif;
  color: #1f204180;
  font-size: 14px;
  font-weight: 400;
  min-width: 400px;
  position: relative;
  overflow-x: hidden;
  background-color: #fff;
}

input {
  outline: none;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  padding-left: 15px;
  font-family: "Montserrat", serif;
  color: #1f2041;
}
input:hover {
  border: 1px solid rgba(31, 32, 65, 0.5);
}
input::-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.25);
  font-family: Montserrat;
}
input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.25);
  font-family: Montserrat;
}
input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.25);
  font-family: Montserrat;
}

button {
  cursor: pointer;
  outline: none;
  background: transparent;
  border: none;
}

.container {
  max-width: 1180px;
  padding: 0 10px;
  margin: 0 auto;
}

header {
  padding: 15px 0;
}

header,
section,
footer {
  width: 100%;
}

p {
  color: rgba(31, 32, 65, 0.75);
  line-height: 24px;
}

.btn {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  padding: 10px 20px;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  border-radius: 22px;
  text-transform: uppercase;
  color: #fff;
  line-height: 15px;
  transition: 0.2s;
}
.btn:hover {
  box-shadow: 2px 2px 2px 2px rgba(31, 32, 65, 0.3);
}

.btnenter {
  border: 2px solid #bc9cff;
  background: #fff;
  color: #bc9cff;
  padding: 8px 18px;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.navigation__list {
  display: flex;
  align-items: center;
}
.navigation__list li {
  margin-right: 20px;
}
.navigation__list li a {
  line-height: 17px;
}
.navigation__list li:last-child {
  margin-right: 0px;
}
.navigation__list li svg {
  margin-left: 6px;
}

.middle {
  background: url(../img/BG.jpg);
  background-size: cover;
  background-position: center center;
  padding: 70px 0 18px 0;
}

.scaning {
  width: 380px;
  height: 374px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px 30px 30px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 320px;
}
.scaning h2 {
  color: #1f2041;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
}

.search {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 224px;
}
.search label {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1f2041;
  margin-bottom: 5px;
}
.search__scan {
  display: flex;
  justify-content: space-between;
}
.search__scan__in-enter {
  display: flex;
  position: relative;
}
.search__scan__in-enter input {
  width: 150px;
  height: 44px;
}
.search__scan__in-enter input::-moz-placeholder {
  color: rgba(31, 32, 65, 0.75);
}
.search__scan__in-enter input:-ms-input-placeholder {
  color: rgba(31, 32, 65, 0.75);
}
.search__scan__in-enter input::placeholder {
  color: rgba(31, 32, 65, 0.75);
}
.search__scan__in-enter button {
  position: absolute;
  right: 10%;
  top: 35%;
}
.search__friend {
  position: relative;
}
.search__friend__sum {
  width: 100%;
  height: 44px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  padding: 13px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.search__friend__arrow {
  position: absolute;
  top: 33px;
  right: 15px;
}

.dropdown {
  border: 1px solid rgba(31, 32, 65, 0.5);
  position: absolute;
  padding: 6px 6px 12px 14px;
  width: 318px;
  height: 159px;
  background: #ffffff;
  border-radius: 4px;
  display: none;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  z-index: 1;
  top: 97%;
}
.dropdown__people {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 6px;
}
.dropdown__people p {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1f2041;
}
.dropdown__people__sum {
  display: flex;
  align-items: center;
  width: 92px;
  justify-content: space-between;
}
.dropdown__people__sum span {
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  color: #1f2041;
}
.dropdown__people__sum-val {
  border: none;
  width: 8px;
  height: 15px;
}
.dropdown__last {
  margin-bottom: 20px;
}
.dropdown__btns {
  display: flex;
  justify-content: space-between;
}
.dropdown__btns__btn {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #bc9cff;
}

.plus, .minus {
  height: 31px;
  transition: 0.2s;
  cursor: pointer;
}
.plus:active, .minus:active {
  transform: scale(0.9);
}

.freand-active {
  display: block;
  transition: 0.4s;
}

.btnchoice {
  width: 100%;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.btnchoice__arrow {
  position: absolute;
  right: 13px;
}

.text {
  display: flex;
  justify-content: flex-end;
}
.text p {
  width: 260px;
  text-align: right;
}

footer {
  padding: 100px 0 26px 0;
}

.lower {
  margin-bottom: 101px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
}
.lower__logo svg {
  margin-bottom: 20px;
}
.lower__logo p {
  max-width: 260px;
}
.lower__navigation li {
  margin-bottom: 20px;
}
.lower__navigation li:first-child {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #1f2041;
  text-transform: uppercase;
  margin-bottom: 21px;
}
.lower__navigation li:last-child {
  margin-bottom: 0px;
}
.lower__subscription__head {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #1f2041;
  text-transform: uppercase;
  margin-bottom: 21px;
}
.lower__subscription__text {
  max-width: 245px;
  margin-bottom: 20px;
}
.lower__subscription__entry {
  position: relative;
}
.lower__subscription__entry-regist {
  height: 44px;
  width: 260px;
}
.lower__subscription__entry button {
  position: absolute;
  right: 5%;
  top: 26%;
}

.line {
  width: 100%;
  height: 1px;
  background: #e5e5e5;
  margin-bottom: 25px;
}

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.copyright__social {
  display: flex;
  align-items: center;
}
.copyright__social li {
  margin-right: 20px;
}
.copyright__social li:last-child {
  margin-right: 0px;
}

.underfined {
  background: url(../img/BG2.png);
  background-size: cover;
  padding: 200px 0;
  text-align: center;
}
.underfined__info p {
  margin-bottom: 50px;
  font-size: 3.5vh;
}
.underfined__info__loading {
  -webkit-animation: 2s linear 0s normal none infinite running rot;
          animation: 2s linear 0s normal none infinite running rot;
}

@-webkit-keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  0% {
    transform: rotate(360deg);
  }
}

@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  0% {
    transform: rotate(360deg);
  }
}
.entering {
  padding: 172px 0;
  display: flex;
  justify-content: center;
}

.entrance {
  width: 380px;
  height: 358px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px 30px 32px 30px;
  display: flex;
  flex-direction: column;
  text-align: start;
}
.entrance__name {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #1f2041;
  margin-bottom: 20px;
}
.entrance__mail {
  margin-bottom: 10px;
  width: 100%;
  min-height: 44px;
}
.entrance__pass {
  margin-bottom: 20px;
  width: 100%;
  height: 44px;
}
.entrance button {
  width: 100%;
  margin-bottom: 30px;
}
.entrance__reg {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.entrance__reg span {
  color: #000;
}

.registering {
  padding: 19px 0;
}

.registr {
  width: 380px;
  height: 646px;
}
.registr__radio {
  display: flex;
  margin-bottom: 20px;
}
.registr__radio__people {
  cursor: pointer;
  display: flex;
  margin-right: 20px;
}
.registr__radio__people-circle {
  border: 1px solid #1f2041;
  border-radius: 50%;
  display: flex;
  height: 20px;
  margin: 0;
  opacity: 0.25;
  position: relative;
  width: 20px;
  margin-right: 10px;
  display: none;
}
.registr__radio__people-imitation {
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 10px;
  margin-right: 10px;
  position: relative;
}
.registr__radio__people-imitation::before {
  content: "";
  display: inline;
  position: absolute;
  background: linear-gradient(180deg, #bc9cff, #8ba4f9);
  top: 3px;
  right: 3px;
  opacity: 0;
  border-radius: 10px;
  width: 12px;
  height: 12px;
  transition: 0.3s;
}
.registr__date__name {
  display: flex;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1f2041;
  margin-bottom: 5px;
}
.registr__check {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.registr__check__checked {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.registr__check__checked-box {
  display: none;
  transition: transform 0.3s ease;
}

.fake {
  width: 40px;
  height: 20px;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 10px;
  margin-right: 10px;
  padding: 3px;
  position: relative;
}
.fake::before {
  content: "";
  display: inline;
  position: absolute;
  background: rgba(31, 32, 65, 0.25);
  border-radius: 10px;
  width: 12px;
  height: 12px;
  transition: 0.3s;
}

.checkbox:checked + .fake::before {
  transform: translate(20px, 0);
  background: linear-gradient(180deg, #bc9cff, #8ba4f9);
}

.checkbox:checked + .fake {
  border: 1px solid #bc9cff;
}

.circle:checked + .imitation::before {
  opacity: 1;
}

.circle:checked + .imitation {
  border: 1px solid #bc9cff;
}

@media (max-width: 775px) {
  .navigation__list {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */