* {
  box-sizing: border-box;
}

::-ms-reveal {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li,
body,
input,
button {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #1f204180;
}

ul,
li {
  list-style-type: none;
}

body {
  font-family: "Montserrat", serif;
  color: #1f204180;
  font-size: 14px;
  font-weight: 400;
  min-width: 320px;
  position: relative;
  overflow-x: hidden;
  background-color: #fff;
}

input {
  outline: none;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  padding-left: 15px;
}
input::-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.25);
  font-family: Montserrat;
}
input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.25);
  font-family: Montserrat;
}
input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.25);
  font-family: Montserrat;
}

button {
  cursor: pointer;
  outline: none;
  background: transparent;
  border: none;
}

.container {
  max-width: 1180px;
  padding: 0 10px;
  margin: 0 auto;
}

header {
  padding: 15px 0;
}

p {
  color: rgba(31, 32, 65, 0.75);
  line-height: 24px;
}

.btn {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  padding: 10px 20px;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  border-radius: 22px;
  text-transform: uppercase;
  color: #fff;
  line-height: 15px;
}

.btnenter {
  border: 2px solid #bc9cff;
  background: #fff;
  color: #bc9cff;
  padding: 8px 18px;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.navigation__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.navigation__list li {
  margin-right: 20px;
}
.navigation__list li a {
  line-height: 17px;
}
.navigation__list li:last-child {
  margin-right: 0px;
}
.navigation__list li svg {
  margin-left: 6px;
}

.middle {
  background: url(../img/BG.jpg);
  background-size: cover;
  background-position: center center;
  padding: 70px 0 18px 0;
}

.scaning {
  width: 380px;
  height: 374px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px 30px 30px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 320px;
}
.scaning h2 {
  color: #1f2041;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
}

.search {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 224px;
}
.search label {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1f2041;
  margin-bottom: 5px;
}
.search__scan {
  display: flex;
  justify-content: space-between;
}
.search__scan__in-enter {
  display: flex;
  position: relative;
}
.search__scan__in-enter input {
  width: 150px;
  height: 44px;
}
.search__scan__in-enter input::-moz-placeholder {
  color: rgba(31, 32, 65, 0.75);
}
.search__scan__in-enter input:-ms-input-placeholder {
  color: rgba(31, 32, 65, 0.75);
}
.search__scan__in-enter input::placeholder {
  color: rgba(31, 32, 65, 0.75);
}
.search__scan__in-enter button {
  position: absolute;
  right: 10%;
  top: 35%;
}
.search__friend__sum {
  width: 320px;
  height: 44px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  padding: 13px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search__friend__sum span {
  color: rgba(31, 32, 65, 0.75);
}

.btnchoice {
  width: 320px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.btnchoice__arrow {
  position: absolute;
  right: 13px;
}

.text {
  display: flex;
  justify-content: flex-end;
}
.text p {
  width: 260px;
  text-align: right;
}

footer {
  padding: 100px 0 26px 0;
}

.lower {
  margin-bottom: 101px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
}
.lower__logo svg {
  margin-bottom: 20px;
}
.lower__logo p {
  max-width: 260px;
}
.lower__navigation li {
  margin-bottom: 20px;
}
.lower__navigation li:first-child {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #1f2041;
  text-transform: uppercase;
  margin-bottom: 21px;
}
.lower__subscription__head {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #1f2041;
  text-transform: uppercase;
  margin-bottom: 21px;
}
.lower__subscription__text {
  max-width: 245px;
  margin-bottom: 20px;
}
.lower__subscription__entry {
  position: relative;
}
.lower__subscription__entry-regist {
  height: 44px;
  width: 260px;
}
.lower__subscription__entry button {
  position: absolute;
  right: 5%;
  top: 26%;
}

.line {
  width: 100%;
  height: 1px;
  background: #e5e5e5;
  margin-bottom: 25px;
}

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.copyright__social {
  display: flex;
  align-items: center;
}
.copyright__social li {
  margin-right: 20px;
}
.copyright__social li:last-child {
  margin-right: 0px;
}/*# sourceMappingURL=style.css.map */