* {
  box-sizing: border-box;
  text-size-adjust: none;
}
::-ms-reveal {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li,
body,
input,
button {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: #1f204180;
}
.activelist {
  transition: 0.2s;
  position: relative;
  &::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 1px; /* Высота линии */
    background-color: #1f204180; /* Цвет подчеркивания при исчезании линии*/
    transition: width 0.5s;
  }
  &:hover {
    color: #bc9cff;
    svg {
      path {
        fill: #bc9cff;
        fill-opacity: 1;
      }
    }
    &::after {
      content: "";
      width: 100%;
      display: block;
      position: absolute;
      left: 0;
      bottom: -3px;
      height: 1px; /* Высота линии */
      background-color: #bc9cff; /* Цвет подчеркивания при появлении линии*/
      transition: width 0.5s;
    }
  }
}
ul,
li {
  list-style-type: none;
}
body {
  font-family: "Montserrat", serif;
  color: #1f204180;
  font-size: 14px;
  font-weight: 400;
  min-width: 380px;
  position: relative;
  overflow-x: hidden;
  background-color: #fff;
}
input {
  outline: none;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  padding-left: 15px;
  font-family: "Montserrat", serif;
  color: #1f2041;
  &:hover {
    border: 1px solid rgba(31, 32, 65, 0.5);
  }
  &::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.25);
    font-family: Montserrat;
  }
}

button {
  cursor: pointer;
  outline: none;
  background: transparent;
  border: none;
  font-family: "Montserrat";
}
.container {
  max-width: 1180px;
  padding: 0 10px;
  margin: 0 auto;
}
.header {
  padding: 15px 0;
}
.shadowbox {
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}
p {
  color: rgba(31, 32, 65, 0.75);
  line-height: 24px;
}
.btn {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  padding: 10px 20px;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  border-radius: 22px;
  text-transform: uppercase;
  color: #fff;
  line-height: 15px;
  transition: 0.2s;
  &:hover {
    box-shadow: 2px 2px 2px 2px rgba(31, 32, 65, 0.3);
  }
}
.btnenter {
  border: 2px solid #bc9cff;
  background: #fff;
  color: #bc9cff;
  padding: 8px 18px;
}
#burger,
[for="burger"] {
  display: none;
}
.roster {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  text-align: center;
  li {
    margin-bottom: 40px;
    &:last-child {
      margin-bottom: 0px;
    }
  }
}
.nonav {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 3;
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  &__list {
    display: flex;
    align-items: center;
    li {
      margin-right: 20px;
      a {
        line-height: 17px;
      }
      &:last-child {
        margin-right: 0px;
      }
      svg {
        margin-left: 6px;
      }
    }
  }
}
.middle {
  background: url(../img/BG.jpg);
  background-size: cover;
  background-position: center center;
  padding: 70px 0 18px 0;
}
.scaning {
  width: 380px;
  height: 374px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px 30px 30px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 320px;
  h2 {
    color: #1f2041;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
  }
}
.search {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 224px;
  z-index: 2;
  label {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1f2041;
    display: flex;
    margin-bottom: 5px;
  }
  &__scan {
    display: flex;
    justify-content: space-between;
    &__in {
      width: 100%;
      &-enter {
        display: flex;
        position: relative;
        width: 100%;
        input {
          cursor: pointer;
          width: 100%;
          height: 44px;
          &::placeholder {
            color: rgba(31, 32, 65, 0.75);
          }
        }
        label {
          position: absolute;
          right: 15px;
          top: 16px;
          cursor: pointer;
        }
      }
    }
  }
  &__friend {
    position: relative;
    &__sum {
      width: 100%;
      height: 44px;
      border: 1px solid rgba(31, 32, 65, 0.25);
      border-radius: 4px;
      padding: 13px 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
    }
    &__arrow {
      position: absolute;
      top: 37px;
      right: 15px;
      cursor: pointer;
    }
  }
}
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  display: none;
}

.dropdown {
  position: absolute;
  display: none;
  width: 318px;
  overflow-y: hidden;
  background: #ffffff;
  z-index: 3;
  top: 97%;
  padding-left: 6px;
  padding-right: 6px;
  height: 159px;
  padding-top: 6px;
  padding-bottom: 12px;
  border-radius: 4px;
  border: 1px solid rgba(31, 32, 65, 0.5);
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  &__people {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 6px;
    height: 31px;
    p {
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
      text-transform: uppercase;
      color: #1f2041;
    }
    &__sum {
      display: flex;
      align-items: center;
      width: 92px;
      justify-content: space-between;
      &-val {
        border: none;
        width: 8px;
        height: 15px;
      }
    }
  }
  &__last {
    margin-bottom: 20px;
  }
  &__btns {
    display: flex;
    justify-content: space-between;
    &__btn {
      cursor: pointer;
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
      text-transform: uppercase;
      color: #bc9cff;
    }
  }
}
.plus,
.minus {
  height: 31px;
  transition: 0.2s;
  cursor: pointer;
  &:active {
    transform: scale(0.9);
  }
}
.freand-active {
  display: block;
  transition: 0.4s;
}
.btnchoice {
  width: 100%;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  &__arrow {
    position: absolute;
    right: 13px;
  }
}
.text {
  display: flex;
  justify-content: flex-end;
  p {
    width: 260px;
    text-align: right;
  }
}
footer {
  padding-bottom: 26px;
}
.lower {
  padding: 101px 0;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  &__logo {
    svg {
      margin-bottom: 20px;
    }
    p {
      max-width: 260px;
    }
  }
  &__navigation {
    li {
      margin-bottom: 20px;
      &:first-child {
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        color: #1f2041;
        text-transform: uppercase;
        margin-bottom: 21px;
      }
      &:last-child {
        margin-bottom: 0px;
      }
    }
  }
  &__subscription {
    &__head {
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
      color: #1f2041;
      text-transform: uppercase;
      margin-bottom: 21px;
    }
    &__text {
      max-width: 245px;
      margin-bottom: 20px;
    }
    &__entry {
      position: relative;
      &-regist {
        height: 44px;
        width: 260px;
      }
      button {
        position: absolute;
        right: 5%;
        top: 26%;
      }
    }
  }
}

.line {
  width: 100%;
  height: 1px;
  background: #e5e5e5;
  margin-bottom: 25px;
}
.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__social {
    display: flex;
    align-items: center;
    li {
      margin-right: 20px;
      &:last-child {
        margin-right: 0px;
      }
    }
  }
}
.underfined {
  background: url(../img/BG2.png);
  background-size: cover;
  padding: 200px 0;
  text-align: center;
  &__info {
    p {
      margin-bottom: 50px;
      font-size: 3.5vh;
    }
    &__loading {
      animation: 2s linear 0s normal none infinite running rot;
    }
  }
}
@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  0% {
    transform: rotate(360deg);
  }
}
.entering {
  padding: 172px 0;
  display: flex;
  justify-content: center;
}
.entrance {
  width: 380px;
  height: 358px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px 30px 32px 30px;
  display: flex;
  flex-direction: column;
  text-align: start;
  &__name {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #1f2041;
    margin-bottom: 20px;
  }
  &__mail {
    margin-bottom: 10px;
    width: 100%;
    min-height: 44px;
  }
  &__pass {
    margin-bottom: 20px;
    width: 100%;
    height: 44px;
  }
  button {
    width: 100%;
    margin-bottom: 30px;
  }
  &__reg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
      color: #000;
    }
  }
}
.registering {
  padding: 19px 0;
}
.registr {
  width: 380px;
  height: 646px;
  &__radio {
    display: flex;
    margin-bottom: 20px;
    &__people {
      cursor: pointer;
      display: flex;
      margin-right: 20px;
      &-circle {
        border: 1px solid #1f2041;
        border-radius: 50%;
        display: flex;
        height: 20px;
        margin: 0;
        opacity: 0.25;
        position: relative;
        width: 20px;
        margin-right: 10px;
        display: none;
      }
      &-imitation {
        width: 20px;
        height: 20px;
        background: #ffffff;
        border: 1px solid rgba(31, 32, 65, 0.25);
        border-radius: 10px;
        margin-right: 10px;
        position: relative;
        &::before {
          content: "";
          display: inline;
          position: absolute;
          background: linear-gradient(180deg, #bc9cff, #8ba4f9);
          top: 3px;
          right: 3px;
          opacity: 0;
          border-radius: 10px;
          width: 12px;
          height: 12px;
          transition: 0.3s;
        }
      }
    }
  }
  &__date {
    &__name {
      display: flex;
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
      text-transform: uppercase;
      color: #1f2041;
      margin-bottom: 5px;
    }
  }
  &__check {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    &__checked {
      display: flex;
      align-items: center;
      cursor: pointer;
      &-box {
        display: none;
        transition: transform 0.3s ease;
      }
    }
  }
}
.fake {
  width: 40px;
  height: 20px;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 10px;
  margin-right: 10px;
  padding: 3px;
  position: relative;
  &::before {
    content: "";
    display: inline;
    position: absolute;
    background: rgba(31, 32, 65, 0.25);
    border-radius: 10px;
    width: 12px;
    height: 12px;
    transition: 0.3s;
  }
}
.checkbox:checked + .fake::before {
  transform: translate(20px, 0);
  background: linear-gradient(180deg, #bc9cff, #8ba4f9);
}
.checkbox:checked + .fake {
  border: 1px solid #bc9cff;
}

.circle:checked + .imitation::before {
  opacity: 1;
}
.circle:checked + .imitation {
  border: 1px solid #bc9cff;
}
@media (max-width: 775px) {
  .navigation {
    &__list {
      display: none;
    }
  }
  [for="burger"] {
    display: block;
    position: absolute;
    text-align: center;
    right: 0%;
    width: 100%;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    z-index: 4;
    &::before {
      padding: 7px 30px;
      content: "";
      background-image: url(../img/menu.svg);
      background-repeat: no-repeat;
      background-position: center center;
    }
  }

  #burger:checked + label + nav {
    display: block;
    animation: show 0.5s ease;
  }
  @keyframes show {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .lower {
    &__navigation {
      display: none;
    }
  }
}
.room {
  background: url(../img/room.jpg);
  background-size: cover;
  height: 645px;
}
.details {
  padding: 70px 0;
}
.lines {
  margin-bottom: 0px;
}
.result {
  border: none;
  width: 9px;
  padding: 0px;
  font-weight: 800;
  &::placeholder {
    font-weight: 700;
    font-size: 12px;
    color: #1f2041;
  }
}
h6 {
  font-weight: bold;
  font-size: 19px;
  line-height: 23px;
  color: #1f2041;
}
.info {
  &__head {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    margin-bottom: 32px;
    &__left {
      width: 677px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
  &__midd {
    margin-bottom: 30px;
    max-width: 712px;
    margin-top: -240px;
    &__title {
      display: flex;
      position: relative;
      margin-bottom: 20px;
      span {
        position: absolute;
        right: 0%;
        font-size: 14px;
        font-weight: normal;
        color: rgba(31, 32, 65, 0.5);
      }
    }
  }
  &__bottom {
    max-width: 712px;
    display: flex;
    justify-content: space-between;
    align-items: start;
  }
}

.intelligence {
  &__intel {
    margin-bottom: 20px;
  }
  &__details {
    display: flex;
    align-items: center;
    width: 280px;
    padding-bottom: 19px;
    border-bottom: 1px solid rgba(31, 32, 65, 0.1);
    margin-bottom: 20px;
    &__image {
      margin-right: 10px;
      width: 48px;
    }
    &__text {
      p {
        font-weight: bold;
        line-height: 24px;
      }
      span {
        font-weight: normal;
        line-height: 24px;
        color: rgba(31, 32, 65, 0.75);
      }
    }
  }
  &__details1 {
    border-bottom: none;
    padding: 0px;
    margin: 0px;
  }
}
.impression {
  &__impres {
    margin-bottom: 56px;
  }
  &__details {
    display: flex;
    align-items: flex-start;
    padding-left: 30px;
    &__circle {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      margin-right: 73px;
      p {
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #bc9cff;
      }
      span {
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        text-align: center;
        color: #bc9cff;
        font-weight: bold;
      }
      &::before {
        content: "";
        background: url(../img/Pie.svg);
        position: absolute;
        width: 120px;
        height: 121px;
        top: -35px;
        animation: rotate 8s infinite linear;
      }
    }
    &__grade {
      margin-top: -10px;
      li {
        line-height: 24px;
        color: rgba(31, 32, 65, 0.75);
        position: relative;
        &::before {
          content: "";
          width: 10px;
          height: 10px;
          border-radius: 50%;
          position: absolute;
          top: 7px;
          left: -13px;
        }
      }
      &-yellow {
        &::before {
          background: linear-gradient(180deg, #ffe39c 0%, #ffba9c 100%);
        }
      }
      &-green {
        &::before {
          background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
        }
      }
      &-pirple {
        &::before {
          background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
        }
      }
      &-gray {
        &::before {
          background: linear-gradient(180deg, #919191 0%, #3d4975 100%);
        }
      }
    }
  }
}
.review {
  display: flex;
  &__image {
    margin-right: 9px;
    img {
      margin-bottom: 9px;
    }
    &__like {
      cursor: pointer;
      margin-left: 4px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 5px;
      padding-right: 9px;
      height: 20px;
      width: 40px;
      border: 1px solid #bc9cff;
      box-sizing: border-box;
      border-radius: 10px;
      span {
        font-size: 10px;
      }
    }
  }
  &__text {
    &__name {
      font-weight: bold;
      font-size: 14px;
      line-height: 24px;
      display: block;
      margin-bottom: 10px;
      span {
        font-weight: normal;
        display: block;
      }
    }
    p {
      line-height: 24px;
      color: rgba(31, 32, 65, 0.75);
    }
  }
}
.review1 {
  margin-bottom: 22px;
}
.regulations {
  padding-left: 22px;
  &__title {
    margin-bottom: 20px;
  }
  &__list {
    max-width: 243px;
    li {
      line-height: 24px;
      color: rgba(31, 32, 65, 0.75);
      margin-bottom: 10px;
      position: relative;
      &:last-child {
        margin-bottom: 0px;
      }
      &::before {
        content: "";
        width: 10.43px;
        height: 10px;
        background: rgba(31, 32, 65, 0.25);
        border-radius: 50%;
        position: absolute;
        top: 30%;
        left: -19px;
      }
    }
  }
}
.regulations2 {
  max-width: 350px;
  padding-left: 0px;
}
.detailsroom {
  width: 380px;
  height: 512px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px 30px 30px 30px;
  &__detail {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 20px;
    &__num {
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;
      color: #1f2041;
      &-numb {
        font-size: 14px;
        line-height: 17px;
      }
      &-lux {
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: #bc9cff;
        padding-left: 8px;
      }
    }
    &__price {
      font-weight: bold;
      font-size: 14px;
      line-height: 18px;
      color: rgba(31, 32, 65, 0.5);
      span {
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
      }
    }
  }
  &__search {
    margin-bottom: 20px;
  }
  &__friend {
    margin-bottom: 15px;
  }
  &__extrainfo {
    display: flex;
    justify-content: space-between;
    align-items: start;
    color: rgba(31, 32, 65, 0.75);
    margin-bottom: 15px;
    p {
      max-width: 214px;
      line-height: 18px;
    }
  }
  &__last {
    margin-bottom: 30px;
  }
  &__important {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      background-image: url(../img/vector-i.svg);
      width: 20px;
      height: 21px;
      left: 220px;
      top: -2px;
    }
  }
  &__finish {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 19px;
    line-height: 23px;
    color: #1f2041;
    margin-bottom: 20px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      bottom: 6px;
      border: 1px dashed rgba(31, 32, 65, 0.25);
      width: 56%;
      left: 60px;
    }
  }
  &__btn {
    padding: 15px 0;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(-360deg);
  }
}
.rooms {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 70px;
  &__drop {
    width: 266px;
    &__search {
      display: block;
    }
  }
}
.number {
  h2 {
    margin-bottom: 20px;
    color: #1f2041;
  }
  &__hotel {
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 12px;
    &__item {
      box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
      border-radius: 4px;
      overflow: hidden;
      &:hover {
        img {
          transform: scale(1.1);
          transition: 0.7s;
        }
      }
    }
  }
}
.information {
  padding: 20px;
  &__up {
    display: flex;
    justify-content: space-between;
    padding-bottom: 12px;
    border-bottom: 1px solid rgba(31, 32, 65, 0.1);
    margin-bottom: 8px;
    align-items: center;
    &__numb {
      font-weight: bold;
      font-size: 19px;
      line-height: 23px;
      color: #1f2041;
      &-num {
        font-size: 14px;
        line-height: 17px;
      }
      &-lux {
        padding-left: 8px;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: #bc9cff;
      }
    }
    &__price {
      font-size: 14px;
      line-height: 18px;
      color: rgba(31, 32, 65, 0.5);
      font-weight: bold;
      span {
        font-weight: normal;
      }
    }
  }
  &__down {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.pagination {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__list {
    display: flex;
    margin-bottom: 10px;
    li {
      width: 40px;
      height: 40px;
      border-radius: 22px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      &:hover {
        background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
        font-size: bold;
        color: #fff;
      }
      &:last-child {
        background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
      }
    }
    &__active {
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      font-size: bold;
      color: #fff;
    }
  }
}
#aside,
[for="aside"] {
  display: none;
}
@media screen and (max-width: 1440px) {
  .room {
    height: 485px;
  }
}
@media screen and (max-width: 1280px) {
  .info {
    &__head {
      &__left {
        max-width: 600px;
      }
    }
    &__midd {
      max-width: 600px;
    }
  }
}
@media screen and (max-width: 1150px) {
  .number__hotel {
    grid-template-columns: 1fr 1fr;
  }
  .rooms {
    justify-content: space-around;
  }
}
@media screen and (max-width: 1024px) {
  .intelligence {
    margin-bottom: 30px;
  }
  .room {
    height: 300px;
  }
  .info {
    &__head {
      &__left {
        max-width: 400px;
      }
    }
    &__midd {
      margin-top: 0px;
    }
    &__bottom {
      max-width: 600px;
    }
  }
  .regulations2 {
    max-width: 300px;
  }
}
@media screen and (max-width: 960px) {
  .rooms__drop {
    display: none;
  }
  .number__hotel {
    grid-template-columns: 1fr 1fr 1fr;
  }
  [for="aside"] {
    display: block;
    position: absolute;
    text-align: center;
    left: 0%;
    height: 40px;
    width: 40px;
    z-index: 2;
    top: 10%;
  }
  .rooms__drop {
    position: absolute;
    background-color: #fff;
    left: 0%;
    padding: 40px;
    width: 310px;
  }
  #aside:checked + label + aside {
    display: block;
    animation: show 0.5s ease;
  }
  #aside:checked + label{
    transform: rotate(180deg);
    transition: 0.2s;
  }
}
@media screen and (max-width: 850px) {
  .number__hotel {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 768px) {
  .info {
    &__head {
      display: flex;
      flex-direction: column;
      align-items: center;
      &__left {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        margin-bottom: 30px;
      }
    }
  }
  .regulations2 {
    max-width: 250px;
  }
  .room {
    height: 200px;
  }
}
@media screen and (max-width: 576px) {
  .lower {
    &__subscription {
      display: none;
    }
  }
  .line {
    display: none;
  }
  .copyright {
    flex-direction: column;
    p {
      margin-bottom: 25px;
    }
  }
  .lower {
    margin-bottom: 20px;
    &__logo {
      height: 31px;
      text-align: center;
      width: 100%;
      p {
        display: none;
      }
    }
  }
  .info {
    &__bottom {
      flex-direction: column;
      align-items: start;
    }
  }
  .regulations {
    &__list {
      max-width: 100%;
    }
  }
  .regulations1 {
    margin-bottom: 30px;
  }
  .regulations2 {
    max-width: 100%;
  }
  .number__hotel {
    grid-template-columns: 270px;
    justify-content: center;
  }
}

@media screen and (max-width: 420px) {
  .scaning,
  .entrance,
  .registr,
  .detailsroom,
  .rooms__drop {
    width: 100%;
  }
  .info {
    &__midd {
      &__title {
        span {
          display: none;
        }
      }
    }
  }
}
